@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

:root {
    --black: #131211;
    --text: #e6e6e6;
    --blue: #303d47;
    --brightblue: #4d616e;
    --brown: #513628;
}

* {
    background-color: var(--black);
    color: var(--text);
    font-family: 'Courier Prime', serif;
    margin: 0;

}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    min-width: 80vw;
}

header > span {
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s all; 
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}

ul>li {
    margin: 0px 20px;
    cursor:pointer;
    font-size: 1.5rem;
    transition: 0.4s all; 
}

ul>li:hover {
    color: var(--brightblue);
}

header > span:hover {
    color: var(--brightblue);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    max-width: 1000px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    padding-bottom: 10vh;
}

.text {
    width: 50vw;

}

.text > * {
    margin: 1rem;
}

.bg {
    width: 512px;
}

.dish {
    display: flex;
    max-width: 1200px;
    height: fit-content;
}

.menu > * {
    margin: 20px;
}

.dish-text {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.5rem;
    text-align: justify;
}

h2 {
    color: var(--brightblue);
    margin-bottom: 2rem;
}

.dish>img {
    height: 445px;
    padding-left: 100px;
}

.dish-second>img {
    padding-left: 0px;
    padding-right: 100px;
}

.menu-button {
    border: none;
    background-color: var(--brightblue);
    padding: 1rem 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    transition: 0.4s all;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 2px;
}

.menu-button:hover {
    background-color: var(--blue);
}

.contact {
    max-width: 50vw;
    text-align: justify;
}

.contact h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}


@media (max-width:1250px) {
    .text, .dish-text {
        width: 35vw;
    }

    .bg {
        width: 350px;
    }
}